.landing-header
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  padding: 80px 117px 140px 117px
  position: relative
  box-sizing: border-box
  background-color: #084161
  cursor: default

.header-content
  text-align: center
  display: flex
  flex-flow: column nowrap
  >h1, >span
    text-transform: uppercase
    margin: 0
    line-height: 150%
    color: white
    font-weight: bold
    letter-spacing: 0.1em
  >h1
    font-size: 48px
    margin-top: 18px
    margin-bottom: 40px
  >span
    font-size: 18px  
    font-weight: 500

.headerSVG-div

.headerSVG

.headerArrowBtn
  align-self: center
  position: absolute
  bottom: 4rem
  background: none
  border: none
  cursor: pointer
  transition: transform 0.5s
  &:hover
    transform: scale(1.1)
  &:focus
    outline: none
  >svg
    stroke: white
    fill: white